[data-ember-action] {
  cursor: pointer;
}

.black {
	color: black;
}

.orange {
	color: orange;
}

.dropzone {
	height: 50px;
	width: 50px;
}

/* cool image */
#profile-image {
	max-width:100%;
	max-height:100%;
}

#caption {
	display: none;
	position: absolute;
	width: 94%;
	background-color: black;
	bottom: 0px;
	height: 60px;
	left: 3%;
}

#upload-image {
	top: 30px;
	left: 35%;
	right: 0px;
	color: white;
}


/* editor */

.jqte_tool_label {
	height: initial !important;
}

.jqte {
	border-radius: 0;
	border:#000 0px solid;
}

html,body{
  	height:100%;
  	overflow: scroll;
}

body {
  	padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

.news-feed {
	width:50%;
    height:40%;
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow: scroll;
}

#map-canvas {
	width:50%;
    height:60%;
    position:absolute;
    right:16px;
    top:40%;
    bottom:0;
    overflow:hidden;
}

.center-list-image {
	width: 100px;
	height: 100px;
	min-height: 100px !important;
}

#profile-image {
	width: 100%;
	height: auto;
}


.box-center {
	margin-top: 30px;
}

#map-canvas-one {
	width: 100%;
	height: 300px;
}

.textarea { 
	height: 100%;
	width: 100%;
}

.panel-body { 
	padding: 0;
	margin: 0;
/*	height: 200px; */
	overflow: hidden;

}

.jqte {
	margin: 0;
}

p {
	word-wrap: break-all;
}

.center-need {
	margin-top: 40px;
}

.readmore {
	cursor: pointer;
}

