<div class="loader" style="margin-top: {{margin-top}};">
	<svg class="circular" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r={{r}} fill="none" stroke-width={{stroke-width}} stroke-miterlimit="10"/>
	</svg>
</div>
{{yield}}
