<div id="img-container">
	{{#if loading}}
			Παρακαλώ Περιμένετε...
		  <div class="loader" style="margin-top: 15%;">
			    <svg class="circular" viewBox="25 25 50 50">
			      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			    </svg>
			</div>
	{{else}}
		<img src={{if center.imageUrl center.imageUrl "/assets/default.png"}} id="profile-image" alt="">
	{{/if}}
	{{#if session.isAuthenticated}}
	{{#if isCurrentCenter}}
	<div id="caption">
		{{#pl-uploader for="upload-image" max-file-size="1000000" extensions="jpg jpeg png bmp" onerror="uploadError" onfileadd="uploadImage" as |queue dropzone|}}
			<a id="upload-image" style="cursor: pointer;">
			{{fa-icon icon="camera"}} Αλλαγή Εικόνας (max: 1MB).</a>
		{{/pl-uploader}}
	</div>
	{{/if}}
	{{/if}}
</div>




{{!-- {{#if sizeError}}
<div class="alert alert-danger"> Μέγιστο επιτρεπόμενο μέγεθος 2 MB </div>
{{/if}}
 --}}
{{yield}}