<div class="row" style="margin-top: 30px;">
<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
<h4 class="text-center">Oδηγίες Χρήσης</h4>

<div class="row">
<div class="main-container-video">
  <div class="fixer-container-video">
	{{#if media.isMobile}}
		<iframe class="youtube-video" width="200" height="150" src="https://www.youtube.com/embed/j5OCJkh55Kk?rel=0" frameborder="0" allowfullscreen></iframe>
	{{else}}
		<iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/j5OCJkh55Kk?rel=0" frameborder="0" allowfullscreen></iframe>
	{{/if}}
  </div>
</div>
</div>

Οι <b>ομάδες</b>:
<br>
<br>
Για να χρησιμοποιήσετε το <b>irefugee</b> θα ακολουθήσετε τα κάτωθι βήματα.
<br>
<br>
<ol>
<li> <p align="justify">Θα μας πάρετε τηλέφωνο στο 6940 90 74 61 ή θα στείλετε mail στο <a href="mailto:info@irefugee.gr">info@irefugee.gr</a>  και θα μας παρέχετε τα στοιχεία που χρειάζονται για να σας φτιάξουμε ένα προφίλ. Αυτό γίνεται για να είναι ελεγχόμενη η είσοδος ομάδων στο site και να αποφευχθούν οι κακόβουλες επιθέσεις.
</p></li>
<li> <p align="justify">Θα επικοινωνήσουμε μαζί σας και θα σας δώσουμε ένα username και ένα password.</p></li>
<li><p align="justify"> Θα κάνετε login με αυτό το username και το password και θα μπείτε στο προφίλ σας.
Εκεί μπορείτε να αλλάξετε το όνομά σας, τον κωδικό σας, τη φωτογραφία σας, το description σας, το τηλέφωνο επικοινωνίας σας, το mail επικοινωνίας σας.
Μπορείτε επίσης να σύρετε τον κέρσορα πάνω στο χάρτη που θα δείτε, ώστε να καταχωρήσουμε τη διεύθυνσή σας. Τα παραπάνω συνίστανται.
Όποτε θέλετε μπορείτε να ενημερώνετε το status σας για τις δράσεις που οργανώνετε ή τις ιδέες σας.
</p></li>
<li><p align="justify">
 Μπορείτε να πάτε στα κουτιά με τις βασικές ανάγκες που θα δείτε στο προφίλ σας και να ενημερώσετε εκεί όλες τις τρέχουσες ανάγκες σας.<br>
Πχ <b>(Ρουχισμός → “χρειαζόμαστε αντρικές ζακέτες, κάλτσες και φούστες”)</b><br>
Συνιστούμε αυτό να το ανανεώνετε αρκετά συχνά για την καλύτερη πληροφόρηση του χρήστη.
</p></li>
<li><p align="justify">Μπορείτε να συνδέσετε το προφίλ σας με συγκεκριμένα keywords ώστε να διευκολύνετε περισσότερο την αναζήτηση του χρήστη αλλά και την άμεση κάλυψη μιας τρέχουσας ανάγκης σας.<br>
Πχ. Προσθέτοντας το keyword <b>“γιατρός_γυναίκα_γυναικολόγος”</b> ο χρήστης θα ξέρει ότι είστε η ομάδα με άμεση ανάγκη για γιατρό γυναικολόγο που να είναι γυναίκα.
Θα μπορεί να το επιλέξει στη σύνθετη αναζήτηση ενώ θα του πεταχτεί και στα newsfeed στην κεντρική σελίδα.<br>
Τα <b>keywords</b> επειδή δηλώνουν πιο άμεση ανάγκη συνίσταται εάν όχι επιβάλλεται να τα <b>ενημερώνετε</b> και να τα <b>αποδεσμεύετε</b> τακτικά ώστε να ελευθερώνετε συγκεκριμένα keywords για ομάδες που τα έχουν ανάγκη.
</p><p align="justify">
Οι βασικές ανάγκες και τα keywords παρέχονται από το σύστημα, ώστε να διευκολύνεται η παραμετροποίηση της αναζήτησης του χρήστη αλλά και η επιλογή τους από το διαχειριστή της εκάστοτε ομάδας.</p>
<p>Οι βασικές ανάγκες θα είναι:</p>
<ul><li>Τρόφιμα</li><li> Ρουχισμός</li><li> Φάρμακα </li><li>Ανθρώπινο δυναμικό</li> <li> Αναλώσιμα/ Μη αναλώσιμα είδη</li></ul> 

</li>

</ol>

Ο <b>χρήστης</b>:
<br>
<br>
<ol>
<li><p align="justify">
Μπαίνοντας στην κεντρική σελίδα θα δείτε ένα χάρτη με όλες τις ομάδες βοήθειας στην Ελλάδα στα δεξιά και μία λίστα με όλες τις ομάδες στα αριστερά.</p>
</li>
<li><p align="justify">
Πατώντας αναζήτηση μπορείτε να επιλέξετε τον τύπο αναζήτησης σας.
Πχ πατώντας αναζήτηση βάση αναγκών->τρόφιμα θα σας δείξουμε όλα τις ομάδες που έχουν ανάγκη σε τρόφιμα.</p>
</li>
<li><p align="justify">
Πατώντας αναζήτηση βάση <b> keywords → ναυαγοσώστης </b> θα σας δείξουμε όλες τις ομάδες που έχουν άμεση ανάγκη σε ναυαγοσώστη.<br>
Τα keywords υποδηλώνουν πιο άμεση και ειδική ανάγκη ενώ η αναζήτηση βάσει αναγκών υποδηλώνει πιο γενικές ανάγκες.</p>
</li>
<li><p align="justify">
Μπορείτε στην αναζήτηση να συμπληρώστε μια <b>διεύθυνση</b> βάσει της οποίας θα βρούμε τις πιο κοντινές της ομάδες ή να ψάξουμε βάση της <b> τρέχουσας τοποθεσίας σας </b>.
Μπορείτε επίσης να ψάξετε αναλόγως με τον τύπο της ομάδας.<br> 
Πχ πατώντας τύπος<b> ομάδας → μαγειρία </b>βλέπετε όλα τα μαγειρεία.</p>
</li>
<li><p align="justify">
Μπαίνοντας στο προφίλ της κάθε ομάδας μπορείτε να δείτε πληροφορίες για την ομάδα, το τηλέφωνο και το mail επικοινωνίας της καθώς τις τρέχουσες ανάγκες της και τις άμεσες ανάγκες της.</p>
</li>
</ol>


</div>
</div>
{{outlet}}
