<div class="row" style="margin-top: 30px;">
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
	<p align="justify">
		Από τις αρχές της δεύτερης δεκαετίας τους 21ου αιώνα η συνεχιζόμενη παγκόσμια οικονομική κρίση σε συνδιασμό με την κρίση της Μέσης Ανατολής δημιούργησαν ένα τεράστιο κύμα μεταναστών και προσφύγων που αναζητούσε το δικαίωμα για μια αξιοπρεπή ζωή στη Γηραιά Ήπειρο.<br>
Με την έλευση του 2016 η κατάσταση επιδεινώθηκε και σταυροδρόμι των ψυχών λόγω της γεωγραφικής θέσης του έμελλε να γίνει το Αιγαίο πέλαγος.
Σε μια προσπάθεια να μη μετατραπεί το Αιγαίο σε Αχέροντα πλήθος ακτιβιστών, αλληλέγγυων, εθελοντών και δωρητών από όλα τα σημεία του πλανήτη, οργανωμένοι και μη, συνέδραμαν για να βοηθήσουν την κατάσταση.
</p>
<p align="justify">
Το <b>irefugee</b> δημιουργήθηκε για να διευκολύνει την μηχανοργάνωση όλης αυτής της συσσωρευμένης βοήθειας.<br>
Στο <b>irefugee</b> κάθε ομάδα που βοηθά στην επίλυση του μεταναστευτικού θα διατηρεί το προφίλ της το οποίο θα χειρίζεται η ίδια και θα ενημερώνει τους χρήστες για τις ανάγκες τις, τις δράσεις τις, 
τις ιδέες της.<br>
Ο κάθε χρήστης θα μπορεί να βλέπει όλες τις ομάδες και τις ενημερώσεις τους ώστε να γνωρίζει πού και πώς μπορεί να βοηθήσει κάθε στιγμή.
Περισσότερα για τη λειτουργικότητα στο <a href={{href-to 'how-to-use'}}>How to Use</a><br>
Στο <b>irefugee</b> θα συμμετέχουν όλες οι ομάδες που προσφέρουν ουσιαστική βοήθεια σε μετανάστες και πρόσφυγες και υπακούουν στους ηθικούς κώδικες που προστάζει η ανθρώπινη αξιοπρέπεια
όταν συναναστρέφεται άνθρωπος με άνθρωπο.
</p>
<p align="justify">
Γνωρίζουμε ότι πολλές από τις ομάδες στις οποίες απευθυνόμαστε έχουν τις διαφωνίες τους για τη συνύπαρξη με άλλες ομάδες. Πολλές διαφωνίες από αυτές τις συμμεριζόμαστε.<br>
Ο σκοπός ποτέ δεν αγιάζει τα μέσα, κάποιες φορές όμως τα υπερβαίνει.
Εδώ λοιπόν δε συνασπιζόμαστε. Συντασσόμαστε εναντίον ενός κοινού εχθρού.<br>
Του εχθρού της πείνας, της εξαθλίωσης και του θανάτου.
Χρειαζόμαστε όση περισσότερη βοήθεια σε αυτή τη μάχη.
Και χρειάζεται να είναι συσσωρευμένη κάπου αυτή η βοήθεια για να αποφύγουμε το attention span του χρήστη.<br>
Για αυτό και όλες οι ομάδες, καταλήψεις, αυτοδιαχειριζόμενα, δομές ανοιχτής φιλοξενίας, δομές πρώτης υποδοχής, ναυαγοσωστικές, μαγειρία, ξενώνες, οι οποίες πληρούν αυστηρά τα κριτήρια που προαναφέραμε θα μετέχουν εδώ. Εάν όχι θα αποβάλλονται από τη συλλογικότητα.
Τα κλειστά κέντρα δε θα μετέχουν.
</p>
<p align="justify">
Μπορούμε να σας εγγυηθούμε πως καμία ομάδα δεν μπορεί να χρησιμοποιήσει το irefugee για αισχροκέδρια, αφού δεν θα υπάρχει καμία /επιλογή για χρηματοδότηση οπότε όποια ομάδα χρησιμοποιεί τη φύση της για ίδιον όφελος δε θα βρει πρόσφορο έδαφος εδώ. <br>
Να τονίσουμε επίσης, πως όλες οι ομάδες από τη μικρότερη ως τη μεγαλύτερη στο irefugee θα αντιμετωπίζονται ως ισάξιες, ισότιμες και ισόνομες και έτσι θα παρουσιάζονται και στις αναζητήσεις του χρήστη.
</p>
<p align="justify">
Το <b>irefugee</b> ήταν μια ιδέα του Λευτέρη Δημάκου και υλοποιήθηκε από τα παιδιά που τρέχουμε τη feelbit έξω από την ομπρέλα της, με δικά μας έξοδα και χωρίς κανένα κερδοσκοπικό χαρακτήρα.
Το αναφέρουμε γιατί δε θέλουμε κάποιος καλοθελητής να ψάξει τα ονόματά μας ή τα mail μας 
ή τα account μας στο git και να ανακαλύψει ξαφνικά κρυφά συμφέροντα και κρυφές ατζέντες πίσω από το <b>irefugee</b>.
Τα δεδομένα και οι πληροφορίες σας είναι ασφαλή και χασαρισμένα, ενώ δε διεκδικούμε καμία κυριότητα επί αυτών.<br>
Στο <b>irefugee</b> δεν υπάρχει κεντρική αρχή. 
Δεν είμαστε ιδιοκτήτες του, αλλά διαχειριστές του.<br>
Προς απόδειξη του παραπάνω ο κώδικας του εγχειρήματος είναι opensource και ανεβασμένος στο <a href="https://github.com/i-refugee/irefugee"> github </a>. Όποιος θέλει μπορεί να κατεβάσει τον κώδικα στον υπολογιστή του, να παίξει, 
να γράψει, να μας προτείνει ιδέες, αλλαγές και λύσεις σε issues που προκύπτουν.
Κάθε βοήθεια είναι ευπρόσδεκτη.<br>
Αν πάλι κάποιος αρέσκεται στο να λειτουργεί πιο συγκεντρωτικά και απόλυτα και διαφωνεί με την peer to peer ελεύθερη διαχείρηση του irefugee μπορεί να πάρει τον κώδικα και να τον ανεβάσει με δικό του domain (πχ <a href="http://www.apofasizw-kai-diatazw.com">www.apofasizw-kai-diatazw.com</a>) χωρίς όμως τη δυνατότητα να μπορεί να το χρησιμοποιήσει σαν διαφήμηση ή να βάλει Label το όνομα του, αφού προστατεύεται από το συμφωνητικό Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International 
(CC BY-NC-ND 4.0) που θα δείτε στο φάκελο irefugee/LICENSE.md
</p>



<p align="justify">
Μπορείτε να επικοινωνείτε μαζί μας στο <a href="mailto:info@irefugee.gr">info@irefugee.gr</a>
</p>


<p align="justify" style="margin-top: 50px;">
<i>
Υστερόγραφο, δεν πιστεύω στην τύχη,<br>
κόντρα στη δεσποτεία και τη μιζέρια,<br>
την πονεμένη μας ψυχή και τα δεμένα χέρια<br>
για τα μάτια ενός παιδιού που ψάχνει γη γκρεμίζω ουρανούς
</i>
</p>

</div>

</div>

{{outlet}}
